<%= form_with model: @user do |f| %>
  <p>
    <%= f.label :uid, 'UID' %>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :password, 'PASS' %>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'パスワード(確認)' %>
    <%= f.text_field :password_confirmation %>
  </p>
  <%= f.submit '登録' %>
<% end %>